h1 {
  font-size: 2rem;
}

.trip-list {
  box-shadow: 0 2px 3px #777;
  padding: 0;
  border-radius: 2px;
}

.trip-list li {
  background-color: #E77;
  list-style: none;
  padding: 1rem;
}

.trip-list li:hover {
  background-color: #D66;
  cursor: pointer;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #222;
}
