/* SEARCH COMPONENT */

input {
  border: none;
  padding: 0.6rem;
  height: 3rem;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
  width: 100%;
  font-size: 1.1rem;
}

input:focus {
  box-shadow: 0 -1px 0 dodgerblue, 0 0 2px dodgerblue, 0 2px 4px dodgerblue;
}

input.left-input, .left-input input {
  border-radius: 2px 0 0 2px;
  border-right: 1px solid #f2f2f2;
}

input.mid-input, .mid-input input {
  border-left: none;
  border-right: 1px solid #f2f2f2;
}

input.right-input, .right-input input {
  border-radius: 0 2px 2px 0;
  border-left: none;
}

.fill-width {
  flex-grow: 1;
}

.search-row {
  display: flex;
  justify-content: center;
}

.trip-list {
  border-radius: 2px;
  margin-top: 2rem;
}

.row, .header-row {
  display: flex;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
  background-color: white;
}

.row:hover {
  background-color: #f0f0f0;
}

.row > div, .header-row > div {
  padding: 1rem;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.header-row {
  font-weight: bold;
  background-color: paleturquoise;
}

/* LOCATION INPUT COMPONENT */

.location-suggestions {
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  padding: 0;
  list-style: none;
  position: absolute;
  max-height: 300px;
  overflow-y: auto;
  width: auto;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
  background-color: white;
  z-index: 1080;
}

.location-suggestions > li > a {
  display: block;
  padding: 0.4rem;
}

.location-suggestions > li > a:hover {
  cursor: pointer;
  background-color: #d6d6d6;
}

/* MISC */

body {
  background-color: #f2f2f2;
}

body * {
  font-family: 'Open Sans', sans-serif;
  color: #222;
}

h1 {
  font-size: 2rem;
}

.main-container {
  width: 80vw;
  margin: 2rem auto;
}

.text-center {
  text-align: center;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.67%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }